<h2>Current chat room</h2>

<ul>
  <li>
    {{room}} <button type="button" (click)="partRoom()">Leave chat room</button>
  </li>
</ul>

<h3 *ngIf="isBanned">You have been banned from this room</h3>


<div *ngIf="!isBanned">
  <h2>Users in room:</h2>
  <ul>
    <li *ngFor="let user of opsList">
      <b>{{user}}</b>
    </li>
  </ul>

  <ul>
    <li *ngFor="let user of userList">
      {{user}}
      <button type="button" *ngIf="isOps" (click)="kickUserFromRoom(user)">Kick out</button>
      <button type="button" *ngIf="isOps" (click)="banUserFromRoom(user)">Ban user</button>
    </li>
  </ul>
  <h2>Messages</h2>
  <h4 *ngIf="obMsgs === undefined">No messages yet</h4>
  <ul>
    <li *ngFor="let msg of obMsgs">
      [{{msg.nick}} {{msg.timestamp | date:'hh:mm:ss'}}] {{msg.message}}
    </li>
  </ul>

  <br /><br />
  <input type="text" placeholder="Type new message" [(ngModel)]="textMessage" />
  <button type="button" (click)="SendMessage()">Send message</button>
</div>