{{room}}

<button type="button" (click)="partRoom()">
    Leave chat
  </button>

<h2 *ngIf="isBanned">You have been banned from this room</h2>


<div *ngIf="!isBanned">
  <h1>Users in room:</h1>
  <li *ngFor="let user of opsList">
    <b>{{user}}</b>
  </li>

  <li *ngFor="let user of userList">
    {{user}}
    <button type="button" *ngIf="isOps" (click)="kickUserFromRoom(user)">
          Kick out
        </button>
    <button type="button" *ngIf="isOps" (click)="banUserFromRoom(user)">
          Ban user
        </button>
  </li>

  <h1>Messages:</h1>
  <li *ngFor="let msg of obMsgs">
    [{{msg.nick}} {{msg.timestamp | date:'hh:mm:ss'}}] {{msg.message}}
  </li>
  <br /><br />
  <input type="text" [(ngModel)]="textMessage" />
  <button type="button" (click)="SendMessage()">
    Send message
  </button>
</div>