<!--

  <table>
  <tr *ngFor="let room of rooms">
    <td>{{room}}</td>
    <td><button (click)="OnJoin(room)">Join</button></td>
  </tr>
</table>


<li *ngFor="let room of rooms">
    <a [routeLink]="['/rooms', room.id]">
        {{userName}}
    </a>
</li>
-->

<h4>
  These are available chatrooms. Feel free to join and chat.
</h4>
<li *ngFor="let room of rooms">
    <a [routerLink]="['/room', room]">
        {{room}}
    </a>
</li>
 
 <hr />

<h4>
  To open a new chatroom, type room name and press "Join new room".
</h4>

 <input type="text" #roomname placeholder="Name of new chatroom" [(ngModel)]="roomName" />
  <button type="button" (click)="OnJoin()">
    Join new room
  </button>

<hr />
<h4>Users currently logged in Chat World</h4>

<table>
  <tr *ngFor="let user of users">
    <td>{{user}}</td>
  </tr>
</table>
